body {
    background-color: rgb(32, 32, 32);
    align-items: center;
    font-family: Monaco, monospace;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    height: max(90vh, 650px);
}

.MsgSection {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    width: auto;
    height: auto;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

InPut {
    background-color: rgb(32, 32, 32);
    font-family: Monaco, monospace;
    text-align: center;
    border-color: rgb(32,32,32);
    color: rgba(255, 255, 255, 1);
}
