body {
    background-color: rgb(32, 32, 32);
    align-items: center;
    font-family: Monaco, monospace;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    height: max(90vh, 650px);
}

.bdiv {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    width: auto;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.minecraftheader {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    width: auto;
    height: auto%;
    margin: auto;
    text-align: center;
    padding: 10px;
}
